@using DataBaseEntities
@model ItemViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Инвентарный номер</th>
                <th>Наименование</th>
                <th>Количество</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.InventoryNumber</td>
                    <td>@i.Name</td>
                    <td>@i.Amount</td>
                </tr>
            }
        </tbody>


    </table>

    <br/>

   @* <button class="btn-primary">Обновить</button>*@
</div>